extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.email')
        th= t('views.users.createdAt')
    tbody
      each user in users
        tr
          td= user.id
          td= user.email
          td= formatDate(user.createdAt)
