extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= getText('users.fullName')
        th= getText('users.email')
        th= getText('users.createdAt')
    tbody
      each user in users
        tr
          td= user.fullName
          td= user.email
          td= user.createdAt
