- const getInputName = (entity, property) => `${entity.constructor.name.toLowerCase()}[${property}]`

mixin formFor(entity = null)
  form&attributes(attributes)
    block

mixin input(entity, propertyName, errors = [])
  - error = errors.find((error) => error.property === propertyName)
  .form-group(class=(errors[propertyName] && 'has-danger'))
    label= propertyName
    input(
      name=getInputName(entity, propertyName)
      class='form-control'
      value=_.get(entity, propertyName, '')
    )&attributes(attributes)
    if error
      .form-control-feedback= Object.values(error.constraints).join('. ')

mixin submit(form = null)
  .form-group
    input(class='btn btn-primary' type='submit' value='Save')&attributes(attributes)

// mixin input(data, name)
//   - const isError = _.has(errors, name);
//   - const message = isError ? errors[name].map(({ message }) => message).join(' ') : 'Looks good!';
//   - let inputClass = '';
//   - let divClass = '';
//   if (!init)
//     - inputClass = isError ? 'is-invalid' : 'is-valid';
//     - divClass = isError ? 'invalid-feedback' : 'valid-feedback';
//   .form-group
//     label= label
//     input.form-control(class=inputClass name=`form[${name}]` value= `${form[name]}`)&attributes(attributes)
//     if (!init)
//       div(class= divClass)= message
