include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      a.navbar-brand(href=getUrl('root')) Task Manager
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=getUrl('users')) Users
        ul.navbar-nav
          if isSignedIn()
            li.nav-item
              form(action=getUrl('session')  method='post')
                input(name="_method" type="hidden" value="delete")
                input.btn.nav-link(type='submit' value='Sign Out')
          else
            li.nav-item
              a.nav-link(href=getUrl('newSession')) Sign In
            li.nav-item
              a.nav-link(href=getUrl('newUser')) Sign Up
    .container
      - const isFlash = _.get(flash, 'info', false);
      if isFlash
        .alert.alert-info.m-3= flash.info.join(' ')
      block content
