include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title Hexlet Fastify Boilerplate
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      a.navbar-brand(href=route('root'))= t('appName')
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarToggleExternalContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id="navbarToggleExternalContent")
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=route('users'))= t('layouts.application.users')
        ul.navbar-nav
          if isAuthenticated()
            li.nav-item
              +buttonTo(route('session'), 'delete')(class="btn nav-link" value=t('layouts.application.signOut'))
          else
            li.nav-item
              a.nav-link(href=route('newSession'))= t('layouts.application.signIn')
            li.nav-item
              a.nav-link(href=route('newUser'))= t('layouts.application.signUp')
    .container.wrapper.flex-grow-1

      each messages, type in reply.flash() || []
        each message in messages
          div.alert(class=`alert-${getAlertClass(type)}`)= message

      h1.my-4
        block header
      block content

    footer
      .container.my-5.pt-4.border-top
        a(target="_blank" href="https://ru.hexlet.io") Hexlet
